<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "project/css/styles.css" %}" />
    <title>{{ title }}</title>
</head>
<body marginwidth=0 marginheight=0>
    <div class="body_content">
        <ul class="menu">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/project/">Проекты</a>
            <a href="http://127.0.0.1:8000/issue/">Задачи</a>
            <a href="http://127.0.0.1:8000/analytics/">Аналитика</a>
            <a href="http://127.0.0.1:8000/account/2/">Профиль</a>
        </ul>
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">Сделано Фурсаевым К. в качестве дипломной работы в 2023 году</footer>
</body>
</html>