{% extends 'project/base.html' %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <div class="addobject">
        <a href="{% url 'create_project' %}">Добавить проект</a>
    </div>
    {% for project in projects %}
        <div>
            <div class="left-part">
                <p class="project_in_list">
                    <b>
                        <a href="{{ project.get_absolute_url }}">[{{ project.id }}] {{ project.title }}</a>
                    </b>
                </p>
            </div>
        </div>
    {% empty %}
        <p>Проектов не найдено! Требуется создать новый, прежде чем просматривать список</p>
    {% endfor %}
{% endblock content %}